.vscode/
.idea/

########################################
# Environment / Secrets
########################################
.env
*.key
*.pem

########################################
# Java / Spring
########################################
*.class
.gradle/
build/

########################################
# Java / Spring
########################################
node_modules/

########################################
# Package files
########################################
*.jar
*.war
*.ear
